<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <!-- Inclua seu arquivo CSS aqui -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Funcionários</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Salário</th>
                </tr>
            </thead>
            <tbody>
                <!-- Usando Thymeleaf para iterar sobre a lista de funcionários -->
                <tr th:each="funcionario : ${funcionarios}">
                    <td th:text="${funcionario.id}"></td>
                    <td th:text="${funcionario.nome}"></td>
                    <td th:text="${funcionario.salario}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
