<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Produtos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <!-- Barra de Navegação Minimalista -->
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <!-- Logotipo ou Nome do Site -->
            <a class="navbar-brand" href="#">Minha Loja</a>

            <!-- Links de Navegação -->
            <ul class="navbar-nav d-flex flex-row gap-3">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                </li>
                <li cl <li class="nav-item">
                    <a class="nav-link" th:href="@{/produtos}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/funcionarios}">Funcionarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sobre}">Sobre</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="center">
        <h1>Lista de Produtos</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Estoque</th>
                    <th>Valor</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.id}"></td>
                    <td th:text="${produto.nome}"></td>
                    <td th:text="${produto.descricao}"></td>
                    <td th:text="${produto.estoque}"></td>
                    <td th:text="${produto.valor}"></td>
                    <td><button type="button" class="btn btn-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary">coisa</button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>